@charset "utf-8";

$navbar-background-color: #d8d3c7;
$body-background-color: #2f3d32;
$footer-height: 20px;
$text: #18291f;
$navbar-item-color: #18291f;
$link: #b62121;
$hr-background-color: #dabebe;
$hr-height: 1px;
$hr-margin: 0 0 .5rem 0;


@import "../../node_modules/bulma/bulma.sass";

@import "../../node_modules/bulma-carousel/dist/css/bulma-carousel.sass";

// non-Bulma sass variables

$gear: #85ab8f;
$text: #fff4de;
$box-color: #18291f;
$nav-color: #d8d3c7;


// Gear animation

@-webkit-keyframes rotate-right {
        from { 
          -webkit-transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(360deg);
        }
      }
      
      @-webkit-keyframes rotate-left {
        from { 
          -webkit-transform: rotate(0deg);
        }
        to {
          -webkit-transform: rotate(-360deg);
        }
      }

      @function getSpeed($speed) {
        $secs: 200;
        @if $speed == fastest {
          $secs: 10;
        } @else if $speed == really-fast {
          $secs: 20;
        } @else if $speed == fast {
          $secs: 40;
        } @else if $speed == slow {
          $secs: 60;
        } @else if $speed == really-slow {
          $secs: 120;
        } @else if $speed == slowest {
          $secs: 200;
        }
        @return #{$secs}s;
      }
      
      @mixin _rotate-animation($direction, $speed) {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-animation: rotate-#{$direction} getSpeed($speed) linear 0s infinite;
      }
    
      @mixin rotate($x, $y, $direction: left, $speed: slow) {
        -webkit-transform: translate3d(0, 0, 0);
        -webkit-transform-origin: $x $y;
        @include _rotate-animation($direction, $speed);
      }


#gear_1 {
        @include rotate(11.5px, 11.8px, right, fastest);
}

#gear_1_shadow {
        @include rotate(12.2px, 12.6px, right, fastest);
}

#gear_2 {
        @include rotate(26px, 19px, left, really-fast);
}

#gear_2_shadow {
        @include rotate(27px, 19.5px, left, really-fast);
}

#gear_3 {
        @include rotate(50.6px, 17.4px, right, fast);
}

#gear_3_shadow {
        @include rotate(51.6px, 18.4px, right, fast);
}

#gear_4 {
        @include rotate(74.3px, 14.1px, left, really-fast);
}

#gear_4_shadow {
        @include rotate(75.1px, 14.9px, left, really-fast);
}

#gear_5 {
        @include rotate(95.2px, 20.5px, right, really-fast);
}

#gear_5_shadow {
        @include rotate(95.9px, 21.2px, right, really-fast);
}

#gear_6 {
        @include rotate(112.3px, 16.3px, left, fastest);
}

#gear_6_shadow {
        @include rotate(113px, 17.1px, left, fastest);
}

// General CSS

body {
        background-image: url("../images/gear-background.gif");
        background-position-y: bottom;
        background-repeat: no-repeat;
        background-size: 100vw;
        padding-bottom: 0;
        min-height: 100vh;
}

h1, h2, h3, h4, h5 {
        font-family: 'Coda', cursive;
}

.navbar {
        background-image: url("../images/gear-background-header.gif");
        background-position-y: bottom;
        background-repeat: no-repeat; 
        background-size: cover; 
}

.modal-card-title {
        font-family: 'Coda', cursive;
}

.progress:not(:last-child) {
        margin-bottom: .5rem;
}

.content h5 {
        margin-bottom: 0.4em;
}

.slick-next {
        right: 40px;
}

.slick-prev {
        left: 10px;
        z-index: 30;
}

.slick-prev::before, .slick-next::before {
        color: #000;
        font-size: 50px;
        opacity: .1;
}


.controls {
        width: 100%;
        text-align: center;
        color: $nav-color;
}

#left-button, #right-button {
        cursor: pointer;
        margin: 35px 50px;
}

#logo {
        height: 90px;
        padding: 0;
        overflow: visible;
}

.logo-image {
        padding: 0;
        height: 3.25rem;
        margin-left: -13px;
}

.headshot {
        margin: 0 2rem 1rem 0;
}

#project-carousel {
        background: rgba(216, 211, 199, .5) !important;
}
.card, .navbar {
        box-shadow: 4px 4px 14px #444;
}

.card-footer {
        border-bottom: 1px solid hsl(0, 0%, 86%);
}

//flex stuff to make the cards the same height
.slick-track{
	display: flex;
	
	.slick-slide{
		// display: flex;
		height: auto;
		// align-items: center; //optional
		// justify-content: center; //optional
	}
}

// SVG properties

.cls-1 {
        mask: url(#mask);
}

.cls-2,
.cls-3 {
        fill: $gear;
        stroke: $box-color;
        stroke-width: 0.15px;
}

.cls-3,
.cls-4,
.cls-5 {
        stroke: $box-color;
        stroke-miterlimit: 10;
}

.cls-3,
.cls-5 {
        stroke-width: 0.25px;
}

.cls-4,
.cls-5 {
        fill: none;
}

.cls-4 {
        stroke-width: 0.5px;
}

.cls-6 {
        mask: url(#mask-2);
}

.cls-7 {
        mask: url(#mask-3);
}

.cls-8 {
        mask: url(#mask-4);
}

.cls-9 {
        mask: url(#mask-5);
}

.cls-10 {
        mask: url(#mask-6);
}

.cls-11 {
        fill: $box-color;
        // opacity: 0.8;
}

.cls-12 {
        fill: $text;
}

.cls-13 {
        filter: url(#luminosity-noclip-6);
}

.cls-14 {
        filter: url(#luminosity-noclip-5);
}

.cls-15 {
        filter: url(#luminosity-noclip-4);
}

.cls-16 {
        filter: url(#luminosity-noclip-3);
}

.cls-17 {
        filter: url(#luminosity-noclip-2);
}

.cls-18 {
        filter: url(#luminosity-noclip);
}

@media only screen and (min-width: 700px) {
        .card {
            margin: 1em !important;
        }

    }

@media only screen and (max-width: 1024px) {
        #left-button, #right-button {
                display: none;
        }
}


@media only screen and (max-width: 350px) {
        #logo {
                height: 80px;
        }
.card-content {
        padding: .5rem;
        font-size: .9rem;
        line-height: 1.2;
}
.tag:not(body) {
        font-size: .65rem !important;
}
#left-button, #right-button {
        display: none;
}
}